AGENTS.md
ii
caelestia
quickshell-docs
.qmlls.ini
modules/theme/colors.json
modules/wallpaper/wallpaper_config.json
config/config.json
modules/widgets/wallpapers/wallpaper_config.json
config.json
emojis.json
wallpaper_config.json
